@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
  <table border="0">
  <tbody>
	<tr>
		<td colspan="2"><b>CONTACT INFORMATION</b></td>
	</tr>
	<tr>
	    <td colspan="2">Cindy Cummings</td>
        <td colspan="2" rowspan="10"><p> <img title="Homepage_phone-V1" border="0" alt="Homepage_phone-V1" src="~/Images/CommunityDays/Homepage_phone-V1.jpg" width="190" height="119" /></p></td>
    </tr>
    <tr>
        <td colspan="2">Community Volunteering Manager</td>
    </tr>
    <tr>
		<td><br /></td>
	</tr>
    <tr>
        <td><b>Email:</b></td> 
        <td><a href="mailto:volunteering@sse.com">volunteering@sse.com</a></td>
    </tr>
    <tr>
		<td><b>Phone:</b></td>
        <td>(0)118 953 4156<br \ />Internal: 64156</td>
    </tr>
    <tr>
		<td><b>Mobile:</b></td>
        <td>(0)7584 313788</td>
    </tr>
    <tr>
		<td><b>Fax:</b></td>
        <td>(0845) 072 4351</td>
    </tr>
    <tr>
		<td><b>Address:</b></td> 
		<td>Freepost RSRL-ZKBJ-RLAA<br />
		SSE Community at Heart<br />
		55 Vastern Road<br />
		Reading RG1 8BU</td>
    </tr>
    <tr>
		<td><br /></td>
	</tr>
    <tr>
		<td colspan="2"><b>Pages managed by Cindy Cummings</b></td>
	</tr>
</tbody>
</table>
</section>